body {
    font-family: 'Roboto', sans-serif;
}

.regform {
    text-align: center;
    position: absolute;
    background: radial-gradient(ellipse at center, #b2e1ff 0%,#66b6fc 100%);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -175px;
    -webkit-box-shadow: 5px 5px 60px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 60px 10px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 60px 10px rgba(0,0,0,0.75);
}

.reg {
    text-align: center;
}

.alldivindiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.labels {
    margin-left: 30px;
    border-radius: 3px;
}

.inputs {
    text-align: center;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.selects {
    text-align: center;
    border-radius: 5px;
    width: 169px;
    margin-right: 30px;
}

.buttons {
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.inputs, .selects, .buttons {
    /*-webkit-box-shadow: 2px 2px 15px 2px rgba(56,56,56,1);
    -moz-box-shadow: 2px 2px 15px 2px rgba(56,56,56,1);
    box-shadow: 2px 2px 15px 2px rgba(56,56,56,1);*/
}
